<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active | Your online platform to care for your Dog</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-search.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">

</head>

<body id="page-search">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Back">
                </a>
                <img src="/images/logo.svg" alt="Active">
            </div>
            <div class="header-content">
                <strong>These are the professionals available</strong>
                <form id="search-cares">
                    <div class="select-block">
                        <label for="subject">Profession</label>
                        <select name="subject[]" id="subject">
                            <option value="">Select an option</option>

                            {%for subject in subjects %}
                            <option value="{{loop.index}}" {{ "selected" if filters.subject == loop.index }}>
                                {{subject}}
                            </option>
                            {%endfor%}

                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weekday">Day of the week</label>
                        <select name="weekday[]" id="weekday">
                            <option value="">Select an option</option>

                            {%for weekday in weekdays %}
                            <option value="{{loop.index0}}" {{ "selected" if filters.weekday == loop.index0 }}>
                                {{weekday}}
                            </option>
                            {%endfor%}

                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Hour</label>
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                    </div>
                    <button type="submit">Filter</button>
                </form>
            </div>
        </header>

        <main>

            {%for active in actives %}
                <article class="care-item">
                    <header>
                        <img 
                            src="{{active.avatar}}" 
                            alt="{{active.name}}">
                        <div>
                            <strong>{{active.name}}</strong>
                            <span>{{active.subject}}</span>
                        </div>
                    </header>

                    <p>{{active.bio}}</p>

                    <footer>
                        <p>Price hour / service<strong>$ {{active.cost}}</strong>
                        </p>
                        <a href="https://api.whatsapp.com/send?1=pt_BR&phone=55{{active.whatsapp}}&
                                text=I am interested in your service {{active.subject}} {{active.name}}"
                                class="button" target="_blank">
                            <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Contact
                        </a>
                    </footer>
                </article>
            {%endfor%}

        </main>
    </div>

</body>

</html>